<div data-sly-test.vartest="${properties.myTest}">
    ${properties.myTest}
</div>

<div data-sly-test="${!vartest}">
    Property does not exist
</div>

<div data-sly-test ="${properties.myTest == 'test'}">Please don't type the word test in this dialog </div>