
<div data-sly-include="head.html"></div>

<h4>Hello World </h4>

<div data-sly-resource ="${@path='par', resourceType='wcm/foundation/components/parsys'}"></div>
<div data-sly-resource ="${@path='simplevar', resourceType='company/components/simpleVariable'}"></div>

